node_modules
/frontend/node_modules
/frontend/.env
/frontend/.env.local
/frontend/.env.development
/frontend/.env.production
/backend/out/
/backend/bin/
/backend/obj/
/backend/*.exe
/backend/*.dll
/backend/*.pdb
/backend/*.cache

